Paste==2.0.2
PyCap==1.0
WebOb==1.4.1
docopt==0.6.2
ecdsa==0.13
lxml==3.4.4
paramiko==1.15.2
pycrypto==2.6.1
pysftp==0.2.8
redi==0.14.0
redis==2.10.3
requests==2.7.0
six==1.9.0
webapp2==2.5.2
wsgiref==0.1.2
