<html>
  <head>
    <title>{{ title }}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </head>
  <body>
      <h1>Hello, welcome to {{ title }}!</h1>
      <button type="button" id="office_bot">Talk to the office bot</button>
      <button type="button" id="trailer_bot">Talk to the trailer park boys bot</button>
  </body>
</html>

<script>
    $("#office_bot").click(function()
    {
        window.location.href = '/office_bot';
    })

    $("#trailer_bot").click(function()
    {
        window.location.href = '/trailer_bot';
    })
</script>